body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#intro{
    color:#1cc547 ;
}

.colour-top-and-bottom{
    background-color:#0097BC ;
}

#imageofme {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    
}

h1,#introstatement,#ContactDetails{
    color: white;
}

#head{
    margin: 0;
}

section {
    margin: 20px;
    padding: 0;
    border: 0;
}






